page-quest-detail {
    .background {
        background: url("../assets/background.jpg") no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }

    .toolbar-background {
         background-color: transparent;
    }
}
