<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
  <ion-auto-complete (search)="searchItems()" (itemSelected)="openItem()" 
   (change)="searchClear()" [dataProvider]="autoComplete" #searchbar>
  </ion-auto-complete>
  <br><br>
  <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
  <ion-list class="spinner">
    <ion-item *ngFor="let item of articles" (click)="openArticle(item.link)" class="feed-article" no-lines>
      <div text-wrap class="article-title">{{item.title}}</div>
      <p [innerHtml]="item.description" style="color: white"></p>
    </ion-item>
  </ion-list>
</ion-content>